bin/
obj/
*.user
_ReSharper*
*.resharper
*.suo
build/
/buildsupport/paket.exe
# Next entry is also for paket, because we install with "dotnet tool".
/buildsupport/.store
/.vs
/src/.vs
/src/UpgradeLog.htm
/src/UpgradeLog2.htm
/src/**/paket.template