source https://api.nuget.org/v3/index.json

framework: auto-detect
storage: none
content: none

nuget System.Runtime.CompilerServices.Unsafe !~> 4.7
nuget System.Security.AccessControl !~> 4.7
nuget System.Security.Permissions !~> 4.7
nuget System.Security.Principal.Windows !~> 4.7
nuget System.Text.Encoding.CodePages !~> 4.7
